.features {
  display: grid;
  padding: $gutter;
  gap: 2rem;
  background: $coral-red;
  position: relative;
  z-index: 1000;
  @include breakpoint(laptop) {
    padding: 5rem 2rem;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
    @include breakpoint(laptop) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    li {
      @include flex("column");
      align-items: center;
      justify-content: flex-start;
      gap: 0.5rem;
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
      font-weight: bold;
      color: #fff;
      margin: 0 auto;
      @include breakpoint(laptop) {
        font-size: 1.25rem;
      }
      img {
        max-width: 100px;
        filter: invert(1);
        @include breakpoint(laptop) {
          max-width: 150px;
        }
      }
      span {
        font-weight: normal;
        font-size: 0.75em;
        font-style: italic;
      }
    }
  }
}
