.testimonials__wrapper{
    padding: 5rem $gutter 7rem;
    background:linear-gradient($sand-beige, lighten($sand-beige, 15));

    @include breakpoint(laptop) {
    padding: 5rem 10vw 7rem;
        
    }
    h3 {
        text-align: center;
    }
}

.testimonials {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.testimonial__wrapper{
    padding: 2rem;
    @include card(1);
    border-radius: 30px;
    background: $soft-white;

    p{}
    em{ 
        display: block;
        width: 100%;
        text-align: right;
    }
}